
.request-content {
  padding: 10px;
  margin: 10px;
}
.requests-title {
  margin-top: 0px;
  font-size: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #DBDBDB !important;
}

.btn-jobme-default2 {
  margin: 10px 0px;
}
p span {
  color: $dark-gray;
  font-weight: bolder;
}


.picture-request {
  height: 110px;
  width: 140px;
  background-size: cover;
  background-position: center;
}
