/* FOR VIEW JOBS#SHOW - quand on clique sur une carte affichee dans index */
.color {
  color: $green !important;
}

.show-job-card {
  .main-info {
    position: relative;
    padding: 15px;
    min-height: 320px;
    border-bottom: 1px solid #DBDBDB !important;
    h2 {
      margin: 0px 0px 22px 0px;
      color: $dark-gray;
      font-weight: bolder;
    }
  }
  .desc {
    padding-top: 20px;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-top: 1px solid #DBDBDB !important;
    p {
      padding: 15px 0px;
    }
  }
  .show-picture-main-info-card {
    min-height: 350px;
  }
  .pic {
  height: 320px;
  background-size: cover;
  background-position: center;
  }
  .align-reviews-btn {
    .rating {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-left: 60px;
      .stared {
        padding: 0px 5px;
        font-size: 22px;
      }
      .color {
        color: $green !important;
      }
    }
  }
  .link-book {
    display: flex;
    justify-content: center;
    .btn-jobme {
      min-width: 150px;
    }
  }
}

.index-show-card {
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.6);
  margin-top: 20px;
}

.index-show-bottom-card {
  border-bottom: 1px solid #DBDBDB !important;
  margin: 0px 0px;
  .contact {
    font-size: 22px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-bottom: 41px;
    .contact-item {
      padding: 0px 30px;
      font-size: 22px;
    }
  }
  .job-description {
    h2 {
      margin-top: 0px;
      margin-bottom: 25px;
      font-size: 25px;
      color: $dark-gray;
    }
    h4 {
      font-size: 19px;
      margin-bottom: 50px;
    }
  }
}

.index-show-review-card {
  padding: 10px;
  margin: 30px 0px;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 25px;
    color: $dark-gray;
    margin-bottom: 25px;
  }
  h4 {
    font-size: 19px;
  }
  .creator-info {
    margin-left: 50px;
    margin-right: 90px;
  }
  .review-content {
    margin-left: 30px;
    flex-grow: 1;
    text-align: left;
  }
  .review-rating p {
    display: inline-block;
  }
}


