/* FOR VIEW JOBS#SHOW - quand on clique sur une carte affichee dans index */
.show-job-card {
  .main-info {
    position: relative;
    padding: 15px;
    h2 {
      margin: 0px 0px 22px 0px;
      color: $dark-gray;
      font-weight: bolder;
    }
  .desc {
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    border-bottom: 1px solid #DBDBDB !important;
    border-top: 1px solid #DBDBDB !important;
  }
  .show-picture-main-info-card {
    min-height: 320px;
  }
}

.pic {
  height: 320px;
  margin: 0px 0px 0px 60px;
  background-size: cover;
  background-position: center;
}

.fa-arrow-left {
  font-weight: lighter;
  font-color: $gray;
}

.index-show-card {
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.6);
  margin-top: 20px;







    .rating {
      position: absolute;
      top: 45px;
      right: 35px;

      .color {
        color: $green;
      }

    }

    .job-reservation {
      text-align: right;
    }
  }
}


.index-show-bottom-card {

  .contact {
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.6);
    margin-top: 20px;
    // margin-right: 10px;
    padding: 10px;

    h4 {
      font-weight: lighter;
    }
  }

  .job-description {

    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.6);
    margin-top: 20px;
    padding: 10px;


    h2 {
      font-weight: lighter;
      margin-top: 0px;
      font-size: 25px;
      color: $green;
    }

    h4 {
      font-size: 15px;
      font-weight: lighter;
    }

  }
}

.index-show-review-card {
  padding: 10px;

  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.6);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  h2 {
    font-weight: lighter;
    font-size: 25px;
    color: $green;
  }

  h4 {
    font-weight: lighter;
    font-size: 20px;
  }

  .creator-info {
    margin-left: 50px;
    margin-right: 90px;

  }

  .review-content {
    flex-grow: 1;
    text-align: left;

  }
}


