.links {
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .btn-jobme{
    width: 60%;
  }
  .btn-jobme-default2 {
    width: 60%;
  }
  a {
    margin: 10px 10px;

  }
}

.btn-at-right {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.request-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .btn-jobme{
    width: 60%;
  }
  .btn-jobme-default2 {
    width: 60%;
  }
  a {
    margin: 10px 10px;

  }
}
