.card-user {

  h2 {
    font-weight: lighter;
    font-size: 30px;
  }

  .picture {
    border-radius: 5px;
    height: 320px;
    width: 300px;
}

  .btn-at-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-right: 180px;
  }
}
