
<div class="row search-padded">
  <div class="col-xs-12">
    <form action="/jobs" method="get" class="form-search">
      <input type="text" name="category" class="navbar-search-input" placeholder="Search by job...">
      <input type="text" name="city" class="navbar-search-input" placeholder="City...">

      <button type="submit" id="btn-jobme-search">
        <div>Search</div>
      </button>
    </form>
  </div>
</div>
