<%= simple_form_for(@request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :start_at, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-jobme" %>
  </div>
<% end %>
