<%= render 'shared/navbar_profile' %>


<div class="container margin-for-navbar">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
      <div class="auth-card">

        <h3>Editing Request</h3>

        <%= render 'form', request: @request %>
      </div>
    </div>
  </div>
</div>
