
<div class="row title-home">
  <h1> <span>Jobme</span> Help yourself. Help your home.</h1>
  <h5>Find a reliable professional to help you with your home improvements.</h5>
</div>

<%= render 'shared/search' %>

