.pages.home {
  background-color: white;

  .form-search {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    position: relative;
  }

  .navbar-search-btn {
    line-height: 60px;
    color: $light-green;
    opacity: 0.8;
    border: none;
    background: transparent;
    position: absolute;
    right: 14px;
    z-index: 1;
    &:hover {
      color: $green;
    }
  }

  .navbar-search-input {
    margin: 0px 15px;
    flex: 1 0 auto;
    transition: all 0.15s ease;
    line-height: 60px;
    font-weight: lighter;
    color: $gray;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.15);
    border-radius: 0px;
    padding: 0 10px;
    font-size: 18px;
    outline: none;
  }

  .navbar-search-input:focus  {
    border-bottom: 1px solid rgba(0,0,0,.30);
  }




  .search-padded {
    padding: 50px 40px;
  }
}
