.btn-jobme {
  color: white;
  background-color: $light-green;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.75;
  transition: background 0.3s ease;
  border: none;
  &:hover {
  color: white;
  background-color: $green;
  text-decoration: none;
  }
}

.btn-jobme-default {
  color: $light-green;
  padding: 10px 15px;
  border-radius: 50px;
  border: none;
  &:hover {
  color: $green;
  text-decoration: none;
  }
}

.btn-jobme-default2 {
  color: $gray;
  padding: 10px 15px;
  border-radius: 50px;
  border: 1px solid $gray;
  &:hover {
  opacity: 1;
  color: $pink;
  border: 1px solid $pink;
  text-decoration: none;
  }
}


#btn-jobme-search {
  padding: 15px 60px;
  color: white;
  background-color: $light-green;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.75;
  transition: background 0.3s ease;
  border: none;
  &:hover {
  color: white;
  background-color: $green;
  text-decoration: none;
  }
}
