.btn-jobme {
  color: white;
  background-color: $green;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.75;
  transition: background 0.3s ease;
  &:hover {
  color: white;
  opacity: 0.9;
  text-decoration: none;
  }
}

.btn-jobme-default {
  color: $green;
  padding: 10px 15px;
  border-radius: 50px;
  opacity: 0.6;
  &:hover {
  color: $green;
  opacity: 0.9;
  text-decoration: none;
  }
}
