/* FOR VIEW INDEX DE JOBS - CARDS JOBS - quand recherche */

/* border-bottom: 1px solid #DBDBDB !important; */

.card-jobs-index {
  border-radius: 3px;
  position: relative;
  margin: 15px 0px;
  background-color: white;
  &:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  }
  .card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
  }
  .card-link:hover{
    opacity: 0.03;
  }
  .part-photo-of-card {
    position: relative;

    h2 {
      margin: 0px;
      position: absolute;
      bottom: 15px;
      left: 20px;
      font-weight: lighter;
      font-size: 20px;
      color: white;
    }
  }
  .user-image {
    background-size: cover;
    background-position: center;
    height: 320px;

    h3 {
      margin-top: 0px;
      position: absolute;
      top: 15px;
      right: 10px;
      font-weight: lighter;
      font-size: 15px;
    }
  }
  .card-jobs-description {
    padding: 10px;
    h2 {
      margin-top: 0px;
      // font-weight: lighter;
      font-size: 18px;
      color: $dark-gray;
    }
    .job-category-city {
      display: flex;
      justify-content: space-between;
      p {
        font-size: 18px;
        color: $dark-gray;
      }
      .job-category {
        color: $light-gray;
        opacity: 0.8;
        font-size: 18px;
        // font-weight: bolder;
        text-transform: uppercase;
      }
    }
    .job-title {
      margin-top: 18px;
      font-size: 20px;
    }
    .fa-star.color {
      color: $green;
    }
  }
}

/* FOR VIEW SHOW OF USER - sous onglet profile dans navbar profile */
.card-user {
  background-color: white !important;
  margin: 30px 60px;
  padding: 40px 0px;
  border-radius: 3px;
  h2 {
    margin: 0px;
  }
}

/* FOR VIEWS requests/new.html.erb & requests/show.html.erb - sous onglet appointments dans navbar profile */
.card-confirmation {
  position: relative;
  background-color: white !important;
  padding: 40px 0px;
  border-radius: 3px;
  .title, .description {
    margin: 0px 30px;
  }
  .title h2 {
    margin-top: 0px;
  }
}
